<br>

<div class="btn-toolbar" aria-label="Toolbar with button groups" role="toolbar">
	<div class="btn-group" aria-label="First group" role="group">
		{% for foro in grupoForo %}
			<button class="btn btn-default getForo" type="button" data-id="{{ foro.id }}">{{ foro.nombre }}</button>
		{% endfor %}	
	</div>
</div>
</br>

<div id="foro">
</div>

{% block javascripts -%}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".getForo").click(function (e) {

                var foroId = $(this).data('id');
                var url = Routing.generate('traer_foro', { id: foroId });
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function(response) {
                       $('#foro').html(response);
                    }
                });

            });
        });
    </script>

{% endblock %}


