<form action="{{ path('foro_entrada_create', { 'foro_id' : entrada.grupo.id } ) }}" method="post" {{ form_enctype(form) }} class="blogger">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>